{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="row">

    <div class="col-sm-3"></div>
    
    <div class="col-sm-6">
    
        <h3 class="text-capitalize">{{ post.title }}</h3>
        
        {% if session.get('is_author') %}
        <a href="{{ url_for('edit', post_id=post.id) }}">Edit </a>
        <a href="{{ url_for('delete', post_id=post.id) }}">Delete</a>
        {% endif %}
    
        {% if post.image %}
        <img class="img-responsive" src="{{ post.imgsrc }}"  />
        {% endif %}
    
        {{ post.body|markdown }}
    
        <div class="text-muted">Posted by <a href="#">{{ post.author.fullname }}</a> 
        on  {{ post.publish_date.strftime('%Y-%m-%d') }} in <a href="#">{{ post.category.name }}</a></div>

        <hr/>
        <h4>Want to join the conversation? Login</h4>

        {% for comment in comments %}
        
        <div style="background-color:rgba(250,250,250,0.8); padding-bottom: 25px">
        
        {{ comment.body }}
        
        </div>
         <div style="background-color:white; padding-bottom: 15px"></div>
         
        {% endfor %}
        
        {% if 'username' in session %}
        
            {% from "_formhelpers.html" import render_field %}
             <form method="POST" action="{{ url_for('article', slug=slug) }}" role="form">
            {{ form.hidden_tag() }}
                
            {{ render_field(form.comment, class='form-control') }}
            
            <button type="submit" class="btn btn-default">Comment</button>
        {% endif %}
        
    </div>
    <div class="col-sm-3"></div>
    
</div>


{% endblock %}
